<?xml version="1.0"?>
<!-- Includes all macros in this package so they don't need to be included individualy -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="Blacksail">
  <!-- Include dynamics macros -->
  <xacro:include filename="$(find blacksail_description)/urdf/blacksail_description.urdf" />
</robot>
